<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/backend.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://js.upload.io/uploader/v2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

    <title>Molly Blog</title>
</head>

<body style="background-color: rgb(232, 232, 220)">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand bg-light" href="/">
                <img src="/images/logo.png" style="height: 100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {{!-- ABOUT ME --}}
                    <a class="nav-item nav-link mr-2" style="font-size: 20px !important" href="/about">About Us</a>
                    {{!-- END ABOUT ME --}}

                    {{!-- DROPDOWN ITEM --}}
                    <div class="dropdown nav-item mr-2">
                        <button class="btn dropdown-toggle" style="font-size: 20px !important" type="button"
                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Recipes
                        </button>
                        <div class="dropdown-menu mr-2" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Appetizers</a>
                            <a class="dropdown-item" href="#">Entrees</a>
                            <a class="dropdown-item" href="#">Desserts</a>
                            <a class="dropdown-item" href="#">Wine Pairings</a>
                            <a class="dropdown-item" href="#">Vegetarian</a>
                        </div>
                    </div>
                    {{!-- END DROPDOWN ITEM --}}

                    {{!-- LIFESTYLE --}}
                    <a class="nav-item nav-link" style="font-size: 20px !important" href="#">Lifestyle</a>
                    {{!-- END LIFESTYLE --}}

                    {{!-- CONTACT PAGE --}}
                    <a class="nav-item nav-link" style="font-size: 20px !important" href="#">Contact Us</a>
                    {{!-- END CONTACT --}}
                </div>
            </div>
        </nav>
    </header>
    <main style="margin-top: 1vh;">
        {{{body}}}
    </main>
</body>

</html>