<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/backend.css" />
    <script src="https://js.upload.io/uploader/v2"></script>
    <title>Molly Blog</title>
</head>

<body>
    <header>
        <nav>
            <a><h1>About Us</h1></a>
            <a><h1>Recipes</h1></a>
            <h1 id="circle">Molly's Blog</h1>
            <a><h1>Lifestyle</h1></a>
            <a><h1>Contact Us</h1></a>
        </nav>
        {{!-- <div class="header">
            <div>
                <h1>Molly's Blog</h1>
            </div>
        </div> --}}
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>