<header class="bigBody">
    <h1>Add a New Page</h1>
    {{!-- <a href="/"><button id="pageChange">Home Page</button></a> --}}
</header>
<section class="new-blog">
    <section class="blog_area">
        <di>
        <div>
            <button id="add-media">Add Media</button>

        </div>
            <textarea id="blog-title" placeholder="Blog title"></textarea>
        </div>
        <div>
            <textarea name="blog-description" id="blog-description" placeholder="Blog Description"></textarea>
        </div>
    </section>
    <div>
        <div style="display: flex; justify-content: space-evenly; margin-left: 2vw; width: 90%">
            {{!-- <select name="contentSelector" id="contentSelector">
                <option value="Appetizers">Appetizers</option>
                <option>Entrees</option>
                <option>Desserts</option>
                <option>Wine Pairings</option>
                <option>Vegetarian</option>
                <option>Lifestyle</option>
            </select>
            <button id="contentButton">Set Content</button> --}}
            <section style="display: flex; justify-content: space-evenly; width: 90%">
                <button class="items" id="apps">Appetizers</button>
                <button class="items" id="entrees">Entrees</button>
                <button class="items" id="desserts">Desserts</button>
                <button class="items" id="wine">Wine Pairings</button>
                <button class="items" id="veggie">Vegertarian</button>
                <button class="items" id="life">Lifestyle</button>
            </section>
            <button style="display: none" id="blogButton">Select Blog</button>
        </div>
    </div>
    <section id="blog_content_section">
        <ul>
            <div>
                <button class="accordion">First Paragraph</button>
                <textarea class="panel" name="blog-content" id="blog-content" placeholder="First Paragraph"></textarea>
            </div>
            <div>
                <button class="accordion">Recipes</button>
                <textarea class="panel" name="blog-content-1" id="blog-content" placeholder="Recipes"></textarea>
            </div>
            <div>
                <button class="accordion">Step by Step</button>
                <textarea class="panel" name="blog-content-2" id="blog-content" placeholder="Instructions"></textarea>
            </div>
            <div>
                <button class="accordion">Summary</button>
                <textarea class="panel" name="blog-content-3" id="blog-content" placeholder="Summary"></textarea>
            </div>
            </div>
        </ul>
        <section style="display:flex; justify-content: center; width: 90%">
            <div>
                <button id="submit">Submit</button>
            </div>
        </section>
    </section>
</section>
<script src="js/backend/backend.js"></script>
<script src="js/backend/aside.js"></script>