<header class="bigBody">
    <h1>Add a New Page</h1>
    <a href="/"><button id="pageChange">Home Page</button></a>
</header>
<section class="new-blog">
    <div>
        <textarea id="blog-title" placeholder="Blog title"></textarea>
    </div>
    <button id="add-media">Add Media</button>
    <div>
        <textarea name="blog-description" id="blog-description" placeholder="Blog Description"></textarea>
    </div>
    <div>
        <div style="display: flex; justify-content: space-evenly; margin-left: 2vw; width: 80%">
            <select name="contentSelector" id="contentSelector">
                <option value="bg1">First Paragraph</option>
                <option value="bg2">Recipes</option>
                <option value="bg3">Instructions</option>
                <option value="bg4">Summary</option>
                <option value="bg5">Blog Content 5</option>
            </select>
            <button id="blogButton">Select Blog</button>
            <button id="addTextBox">Add Text Box</button>
            <div style="margin-right: 0.5vw">
                <select name="header-style" id="header-style">
                    <option value="title">Title</option>
                    <option value="h1">Header 1</option>
                    <option value="h2">Header 2</option>
                    <option value="h3">Header 3</option>
                    <option value="h4">Header 4</option>
                    <option value="p">Paragraph</option>
                </select>
                <button id="headerFont">Change Text Size</button>
            </div>
            <button id="bold"><b>Bold</b></button>
            <button id="italic"><i>Italic</i></button>
            <button id="underline"><u>Underline</u></button>
            <div>
                <select name="font-families" id="font-families">
                    <option value="arial">Arial</option>
                    <option value="verdana">Verdana</option>
                    <option value="tahoma">Tahoma</option>
                    <option value="times-new-roman">Times New Roman</option>
                    <option value="courier-new">Cournier New</option>
                </select>
                <button id="changeText">Change Fonts</button>
            </div>
            <div>
                <input type="color" id="favcolor" name="favcolor" value="#000000">
            </div>
        </div>
    </div>
    <section id="blog_content_section">
        <ul>
            <div>
                <button class="accordion">First Paragraph</button>
                <textarea class="panel" name="blog-content" id="blog-content" placeholder="First Paragraph"></textarea>
            </div>
            <div>
                <button class="accordion">Recipes</button>
                <textarea class="panel" name="blog-content-1" id="blog-content" placeholder="Recipes"></textarea>
            </div>
            <div>
                <button class="accordion">Step by Step</button>
                <textarea class="panel" name="blog-content-2" id="blog-content" placeholder="Instructions"></textarea>
            </div>
            <div>
                <button class="accordion">Summary</button>
                <textarea class="panel" name="blog-content-3" id="blog-content" placeholder="Summary"></textarea>
            </div>
            </div>
        </ul>
        <section style="display:flex; justify-content: center; width: 80%">
            <div>
                <button id="submit">Submit</button>
            </div>
        </section>
    </section>
</section>
<script src="js/backend/backend.js"></script>
<script src="js/backend/aside.js"></script>