<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <section class="container-fluid " style="margin-top: 5vh">
        <section class="row no-gutters d-flex card-deck">
            <div class="card col-sm mr-1">
                <img src="../public/images/food.jpg" class="card-img">
                <div class="card-body bg-dark" style="height: 40%">
                    <h2 class="card-title text-white text-center">Appetizers</h2>
                </div>
            </div>
            <div class="card col-sm mr-1">
                <img src="../public/images/food.jpg" class="card-img" alt="...">
                <div class="card-body bg-dark" style="height: 40%">
                    <h2 class="card-title text-white text-center">Entrees</h2>
                </div>
            </div>
            </div>
            <div class="card col-sm mr-1">
                <img src="../public/images/food.jpg" class="card-img" alt="...">
                <div class="card-body bg-dark" style="height: 40%">
                    <h2 class="card-title text-white text-center">Deserts</h2>
                </div>
            </div>
            <div class="card col-sm no-gutters">
                <img src="../public/images/food.jpg" class="card-img h-100" alt="...">
                <div class="card-body bg-dark" style="height: 40%">
                    <h2 class="card-title text-white text-center">Wine Pairings</h2>
                </div>
                <!-- <h2 class="card-title text-center">Wine Pairing</h2> -->
            </div>
        </section>
        <section class="container-fluid my-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-7 img-fluid">
                        <img src="../public/images/food.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <button>Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid my-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <button>Read More</button>
                        </div>
                    </div>
                    <div class="col-md-7 img-fluid">
                        <img src="../public/images/food.jpg" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>