<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Molly's Blog Website</title>
</head>

<body>
    <header class="header">
        <div>
            <h1>Molly's Blog</h1>
        </div>
        <!-- <div id="login-button">
            <button >Login</button>
        </div> -->
    </header>
    <div class="body">
        <div id="food">
            <img src="images/food.png">
        </div>
        <section>
            <div id="centered">
                <h1>Food Blog</h1>
            </div>
            <div class="card">
                <div class="card-div1">
                    <img class="image" src="images/3d.png" alt="3d total health">
                </div>
                <div class="card-div2">
                    <div>
                        <h1>First Blog Post</h1>
                        <h3>Here is where I have been...</h3>
                    </div>
                    <div class="read-more">
                        <button>Read More</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div>
            <button id="myBtn"><a>Admin</a></button>
            <button id="redirect">Redirect</button>
            <!-- <a href="./backend.html">Admin</a> -->
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="model-design">
                    <div>
                        <h3>Login: </h3>
                        <div>
                            <label>Username: </label>
                            <input placeholder="username">
                        </div>
                        <div>
                            <label>Password: </label>
                            <input type="password" placeholder="username">
                        </div>
                        <button>Submit</button>
                    </div>
                    <div>
                        <h3>Signup: </h3>
                        <div>
                            <label>Username: </label>
                            <input placeholder="username">
                        </div>
                        <div>
                            <label>Password: </label>
                            <input type="password" placeholder="username">
                        </div>
                        <button>Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>
<script src="index.js"></script>

</html>