<section class="container-fluid my-4">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-6 img-fluid">
                <img src="images/food.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <form class="form login-form">
                    <div class="form-group">
                        <label for="username-login">Username:</label>
                        <input class="form-input" type="text" id="username" />
                    </div>
                    <div class="form-group">
                        <label for="password-login">Password:</label>
                        <input class="form-input" type="password" id="password" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="js/login.js"></script>