body {
    margin-left: 1vw
}

#blog-title {
    width: 80%;
    height: 2rem;
}

.bigBody {
    margin-top: 25vh;
}

.new-blog div{
    margin-top: 0.3rem;
}

.font-attributes {
    display: flex;
}
.font-attributes button{
    display: flex;
    width: 80px;
    justify-content: center;
    margin-right: 0.2rem
}

.styling {
    display: flex;
}

.styling div {
    margin-right: 0.3rem
}

#blog_content_section textarea {
    margin-top: 0.3rem;
    height: 20vh;
    width: 80%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.add-media {
    margin-top: 0.35rem;
}

#favcolor {
    display: flex;
    align-items: center;
    height: 19px
}

#bold:active {
    background-color: aqua;
}

#box {
    height: 50vh;
    width: 80vw;
    border: 1px solid black;
    margin-left: 1vw;
}