body {
    margin-left: 1vw
}

#blog-title {
    width: 80%;
    height: 2rem;
}

.bigBody {
    margin-top: 25vh;
}

.new-blog div{
    margin-top: 0.3rem;
}

.font-attributes {
    display: flex;
}
.font-attributes button{
    display: flex;
    width: 80px;
    justify-content: center;
    margin-right: 0.2rem
}

.styling {
    display: flex;
}

.styling div {
    margin-right: 0.3rem
}

#blog_content_section {
    margin-top: 2vh;
}

#blog_content_section textarea {
    margin-top: 0.3rem;
    height: 20vh;
    width: 77%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.add-media {
    margin-top: 0.35rem;
}

#favcolor {
    display: flex;
    align-items: center;
    height: 19px
}

#bold {
    height: "min-content"
}

#box {
    height: 50vh;
    width: 80vw;
    border: 1px solid black;
    margin-left: 1vw;
}

.hidden1 {
    display: none;
}

.hidden2 {
    display: none;
}

.hidden3 {
    display: none;
}

#header-style {
    margin-right: 0.5vw;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }