* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(232, 232, 220);
}

#places {
    display: flex;
    flex-direction: column;
    width: 10rem;
    background-color: rgb(127, 104, 104);
}

/* nav h1 {
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
} */

nav a {
    color: inherit;
    text-decoration: none;
    font-size: x-large;
}

nav a:hover {
    /* text-decoration: underline; */
    text-shadow: #fc0 1px 0 10px;
}

#circle {
    background-image: url('../images/logo1.png');
    background-position: 40%;
    background-size: auto;
    display: inline-block;
    height: 250px;
    width: 250px;
    border: 4px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: rgb(196, 219, 212);
}

.list {
    list-style-type: none;
}

#blog-title {
    color: green
}

#subscribe {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background-color: rgb(196, 219, 212); 
    height: 20vh; 
    width: 100vw; 
    padding-top: 1rem; 
    padding-bottom: 2rem;
}

#subscribe h1 {
    text-transform: uppercase;
    margin: 1rem;
}

.header {
    margin-top: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.header h1 {
    font-size: 40px;
    font-weight: bold;
    width: max-content;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
    z-index: 1;
}

#login-button {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}

#food {
    /* width: 100vw; */
    background-image: url("../images/food.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: 80px; */
    z-index: -1;
    height: 50vh;

}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin-top: 15vh;
}

.body section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#centered {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

#centered h1 {
    font-size: 30px;
}

/* Adjust the card styling */

.card {
    display: flex;
    height: min-content;
    border: 3px solid black;
    /* padding-top: 2rem; */
    /* padding-right: 2rem; */
    /* padding-bottom: 2rem; */
    margin: 1rem;
}

.card-div1 {
    width: 50%;
    height: min-content;
    margin: 20px;
}

.card-div2 {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 50%;
}

.card-div2 h3 {
    display: flex;
    flex-grow: 2;
}

.image {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%
}

.read-more {
    display: flex;
    font-size: 24px;
    /* align-items: flex-end; */
    /* justify-content: flex-end; */
    margin-right: 1rem;
    /* margin-top: min-content; */
    margin-bottom: 1rem;
}

.footer {
    background-color: gainsboro;
    height: 50vh;
    width: 100vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.model-design {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.unorderedList {
    list-style: none;
}